<p id="notice"><%= notice %></p>

<p>
  <strong>Uploadid:</strong>
  <%= @upload_result.uploadId %>
</p>

<p>
  <strong>Source:</strong>
  <%= @upload_result.source %>
</p>

<p>
  <strong>Resourceid:</strong>
  <%= @upload_result.resourceId %>
</p>

<p>
  <strong>Isvalid:</strong>
  <%= @upload_result.isValid %>
</p>

<%= link_to 'Edit', edit_upload_result_path(@upload_result) %> |
<%= link_to 'Back', upload_results_path %>
