<h1> Welcome</h1>

<%= link_to 'Reports', report_index_path %> |
 <%= link_to 'Activities', activity_index_path %> | 
    <%= link_to 'Cities', cities_index_path %> | 
        <%= link_to 'Users',  users_index_path %> |
            <%= link_to 'Articles',  article_index_path %>
        
