<h1><i>Components</i></h1>
<br>

<h5>Household Chores</h5>

<%= form_tag(complete_tasks_path, method: :put)  do %> 

  <% for task in @tasks %> 
    <ul style="list-style-type: none;">
      <li>
        <%= check_box_tag 'task_id[]', task.id %>  
        <%= task.title %> ( <%= task.description %> )
      </li>
    </ul>
  <% end %>
  
   <%= submit_tag 'Submit Tasks' %>
   
<% end %>

<hr>
<br>

<h5>Rating Authors</h5>


<%= form_tag(complete_rating_path, method: :put)  do %> 

 <div style="margin-left:60px;">
 <% for article in @article %> 
    <%= article.author_first_name %> <%= article.author_last_name %> 
    
    <%  @ranking.each do |rank| %>
      <%= rank %> <%= radio_button_tag "#{article.id}_rating", rank %>
    <% end %>
    
   <br>
  
   
  <% end %>
  </div>
  <br> 
  
  <%= submit_tag 'Submit Rating' %>

<% end %>


<hr>
<br>

<%= link_to 'Home', root_path %>
