<%= form_for(upload_error) do |f| %>
  <% if upload_error.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(upload_error.errors.count, "error") %> prohibited this upload_error from being saved:</h2>

      <ul>
      <% upload_error.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uploadResultId %>
    <%= f.number_field :uploadResultId %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
